<div class="mx-auto w-[80vw] border-t-2 border-dashed py-12 text-center">
	<div class="mb-4 flex items-baseline justify-center">
		<p class="body-03 mr-2">Made by</p>
		<a
			href="https://wevis.info"
			target="_blank"
			rel="noopener noreferrer"
			class=""
			><img src="/wevis.svg" alt="wevis" class="w-[72px] object-contain" /></a
		>
	</div>
	<p class="link-02 text-neutral-500">
		Base on <a
			href="https://github.com/wevisdemo/e-initiative-template"
			target="_blank"
			rel="noopener noreferrer">E-Initiative Template</a
		>
	</p>
</div>

<style lang="postcss">
  a {
    @apply underline hover:text-primary;
  }
</style>
