---
interface Props {
	id?: string;
	outerClass?: string;
	innerClass?: string;
	hideNavbar?: boolean;
}

const { id, outerClass, innerClass, hideNavbar } = Astro.props;
---

<div
	{id}
	class={`w-full flex flex-col justify-start md:justify-center md:items-center px-3 py-8 md:py-24 ${outerClass || ''}`}
	data-navbar={hideNavbar ? 'hide' : 'show'}
>
	<div class={innerClass}>
		<slot />
	</div>
</div>
