---
import Config from '../../../e-initiative.config.mjs';
import SectionContainer from '../SectionContainer.astro';
import UpdateTimestamp from '../UpdateTimestamp.svelte';
import PenIcon from '../icons/PenIcon.svelte';
import LocationIcon from '../icons/LocationIcon.svelte';
import { isCampaignEnded } from '../../utils/campaign';
import {
	countSubmittedUsers,
	countSubmittedOrganize,
} from '../../utils/firebase';
import Sharer from '../Sharer.svelte';

const userCount =
	(await countSubmittedUsers()) + (await countSubmittedOrganize());
---

<div class="relative h-full w-full">
	<img
		class="absolute inset-0 hidden h-full w-full object-cover md:block"
		src="landing-bg.svg"
		alt="landing-bg"
	/>
	<img
		class="absolute inset-0 block h-full w-full scale-[1.01] object-cover md:hidden"
		src="landing-mb.svg"
		alt="landing-mb"
	/>
	<SectionContainer
		outerClass="relative min-h-screen "
		innerClass="flex flex-col gap-16  text-center md:flex-row"
		hideNavbar
	>
		<img class="mt-4 h-[287px]" src="landing-logo.svg" alt="landing-logo" />
		<div class="my-auto flex w-full max-w-md flex-col space-y-2">
			{
				isCampaignEnded && (
					<div class="flex flex-row items-center gap-2">
						<div class="h-[2px] flex-1 bg-white" />
						<p class="body-03 font-bold text-white">⚠️ ปิดรับลงชื่อแล้ว ⚠️</p>
						<div class="h-[2px] flex-1 bg-white" />
					</div>
				)
			}
			<p class="body-03 mt-1 text-white md:text-neutral">
				ต้องการ {Config.petition.expectedSignatures.toLocaleString()} รายชื่อ
			</p>

			<div class="flex flex-col gap-2">
				<div class="text-white md:text-neutral">
					<p
						id="singed"
						class="heading-responsive-03 text-shadow-md font-bold text-red-600"
						style="  -webkit-text-stroke: 8px white; paint-order: stroke fill;"
					>
						ลงแล้ว {userCount.toLocaleString()} ชื่อ
					</p>
					<p class="body-03 font-bold text-white md:text-neutral">
						บุคคล {countSubmittedUsers()} คน / องค์กร {countSubmittedOrganize()}
						องค์กร
					</p>
					<p class="body-03">
						ภายใน {
							Config.petition.endDate.toLocaleDateString('TH-th', {
								dateStyle: 'long',
							})
						}
					</p>
				</div>
				<UpdateTimestamp client:load date={new Date()} />
				{
					(
						<div class="space-y-2">
							{!isCampaignEnded && (
								<a
									href="#sign"
									class="heading-03 btn btn-primary  btn-block  text-neutral"
								>
									ลงชื่อเลย
									<PenIcon />
								</a>
							)}

							{Config.sheets?.enableLocations && (
								<a
									href="locations"
									class="heading-03 btn btn-block border-2 border-white bg-transparent text-white md:border-neutral md:text-neutral"
								>
									ดูตารางกิจกรรม
									<LocationIcon />
								</a>
							)}
						</div>
					)
				}
			</div>

			<a
				class="heading-03 btn btn-link btn-block text-white hover:text-accent md:text-neutral"
				href="#volunteer">ทำไมต้องลงชื่อ</a
			>

			<div
				class="flex items-center justify-center gap-3 text-white md:text-neutral"
			>
				<span class="body-01">แชร์</span>
				<Sharer />
			</div>
		</div>
	</SectionContainer>
</div>
